* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

#root {
  height: 500px;
}

body {
  /*the old desing*/
  /* background: #142831;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #0da9eb, #3d88a1, #09668e);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* Footer Design */
.footer {
  padding-bottom: 15px;
}

.footer h1 {
  display: none;
}

/* Login page design */
.login-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 120px;
}

/* Home Wrapper Desgin */
.home {
  padding: 200px 0;
}


.login-container:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: wheat;
  background-size: cover;
  filter: blur(220px);
  z-index: -1;
}

.Summary {
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 2%;
}

.summarytext {
  margin-left: 25%;
}

.ok {
  position: relative;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 25%;
}

.ok1 {
  width: 85%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: baseline;
  direction: rtl;
  float: right;
  margin-right: 50%;
  margin-left: 50%;
}

.Scholarship {
  display: grid;
  margin-left: 35%;
  margin-right: 35%;
}

.login-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 25px;
}

.login-box .right h1 {
  color: #1c343f;
}



.left {
  background: url("images/loginImg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  padding: 35px 45px;
}

/* Input Design */
.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
  direction: rtl;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  border: 2px solid #5a8ade;
  background-color: #fff;
}

/* Log-in Button Design */
.login-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #1c343f;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  color: #f4f4f4;
}

.login-btn:hover {
  background-color: #2f4a56;
}

/* Responsive design of log in */
@media screen and (max-width: 880px) {
  .login-box {
    grid-template-columns: 1fr;
  }

  .left {
    height: 300px;
  }
}

/* Back button Design*/
.backButton {
  all: initial;
  float: left;
  margin-left: 10px;
}

.backButton button {
  background: linear-gradient(to left, #b6c8cf, rgb(255, 255, 254));
  font-size: 1.1rem;
  color: #142831;
  outline: none;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1px 1px #142831;
  letter-spacing: 2px;
  border: none;
  padding: 10px 20px;
  position: relative;
}

.backButton button i {
  color: black;
}

.backButton button:hover {
  background-color: #D3D0CBFF;
}

.logOutButton {
  all: initial;
}

/* LogOut button Design*/
.logOutButton button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left: 10px;
  top: 5px;
  color: #fff;
}

.logOutButton button:hover {
  background-color: #D3D0CBFF;
}

/* Option Design */
.option {
  width: 230px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 30px;
  border-radius: 15px;
  border: none;
}

.option img {
  width: 100%;
  height: 100%;
}

.option-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 0.5px 0.5px black;
}

.option-name h2 {
  margin-top: 12px;
}

.option:hover {}

/* Page template Design */

.pageTemplate {
  padding: 100px;
}

.pageTemplate h1 {
  margin: 10px 0;
  text-align: center;
  color: #f4f4f4;
  position: relative;
  text-shadow: 1px 2px #161515;
}

.optionsContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  direction: rtl;
  gap: 30px;
}

.hoaHome .optionsContainer {
  grid-template-columns: repeat(2, auto);
}


/* Router link design */
.link {
  text-decoration: none;
}

/* form design */
.wrapper {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 100%;
  max-width: 27rem;
  background-color: #fff;
  position: relative;
  padding: 5rem 0;
  box-shadow: 0 1px 1.5 1.5rem rgba(0, 0, 0, .1);
  border-radius: 1rem;
  z-index: 1;
}

.formContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17rem;
  background: linear-gradient(to left, #c2c0c0, #D3D0CBFF);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -1;
}

.formHeading {
  color: #142831;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 10.5rem;
  font-weight: bold;
}

.form {
  transform: translateX(15rem);
  padding: 0.5rem 0;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
}

.input-group {
  width: 85%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: baseline;
  direction: rtl;
}

.input-group input {
  position: relative;
  width: 100%;
  padding: 1rem 0.5rem;
  margin-top: .5rem;
  border: none;
  margin-right: 2.4%;
  outline: none;
  font-size: 1rem;
  color: #142831;
}


.input-group>i {
  font-size: 1.5rem;
  color: #142831;
}

.input-group .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  height: 1px;
}

.input-group .bar::before {
  content: '';
  position: absolute;
  background-color: #142831;
  width: 0;
  height: 2px;
  transition: width 450ms;
}

.input-group input:focus+.bar::before {
  width: 100%;
}

/* .AddNewMeeting {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-right: 5%;
} */

.input-building-group {
  display: grid;
  grid-auto-flow: row;
  /* flex-flow:row-reverse wrap; */
  direction: rtl;
  margin-right: 2%;
}

.input-group select {
  width: 85%;
  margin: 4%;
  position: relative;
  display: flex;
  align-items: baseline;
  direction: rtl;
}

.input-group button {
  margin: 1rem auto;
  padding: 1rem 4rem;
  background: #142831;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3rem;
}

.input-group button:focus,
.input-group button:hover {


  background: #142831;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* for resposive design */
@media screen and (max-width: 2000px) {
  .wrapper {
    height: 80vh;
  }

  .formContainer {
    margin: 10px;
    padding: 5rem 0 2rem 0;
  }

  .formContainer::before {
    height: 5rem;
  }

  .formHeading {
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .form {
    border-radius: initial;
    transform: initial;
    box-shadow: none;
  }

  .input-group button {
    margin: 2rem auto 1 auto;
    padding: 1rem 4rem;
  }
}

.tableData {
  position: relative;
  border-collapse: collapse;
  display: ltr;
  margin: 2%;
}

.tableData th, td {
  text-align: left;
  padding: 8px;
  width: 4%;
  text-align: center;
}

.tableData tr:nth-child(odd) {
  background-color: #d9d1d1;  
}

.tableData tr:nth-child(even) {
  background-color: #ffffff
}

.tableData th{
  background-color: #a2a6ae;
  color: rgb(26, 26, 29);
  text-align: center;
}


.tableData h1 {
  text-align: center;
  margin: 4%;
  color: #fff;
  text-shadow: 1px 2px #161515;

}

.HomePageButton button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fff;
}

.input-building {
  padding: 6%;
}

.input-building table {
  margin: 0 auto;
  position: relative;
  direction: rtl;
}

.input-building th {
  padding: 4px;
  position: relative;
  top: 5px;
}

.input-building h4 {
  text-align: center;
}

.summary h4 {
  text-align: center;
}

.summary textarea {
  text-align: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.addNewMeeting{
  padding: 15%;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #70d0f0;
  overflow: hidden;
}
#background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




#background li:nth-child(0) {
  left: 66%;
  width: 156px;
  height: 156px;
  bottom: -156px;
  animation-delay: 1s;
}
#background li:nth-child(1) {
  left: 44%;
  width: 176px;
  height: 176px;
  bottom: -176px;
  animation-delay: 4s;
}
#background li:nth-child(2) {
  left: 82%;
  width: 161px;
  height: 161px;
  bottom: -161px;
  animation-delay: 10s;
}
#background li:nth-child(3) {
  left: 56%;
  width: 115px;
  height: 115px;
  bottom: -115px;
  animation-delay: 1s;
}
#background li:nth-child(4) {
  left: 68%;
  width: 71px;
  height: 71px;
  bottom: -71px;
  animation-delay: 2s;
}
#background li:nth-child(5) {
  left: 15%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 12s;
}
#background li:nth-child(6) {
  left: 71%;
  width: 86px;
  height: 86px;
  bottom: -86px;
  animation-delay: 26s;
}
#background li:nth-child(7) {
  left: 0%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 19s;
}
#background li:nth-child(8) {
  left: 7%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 37s;
}
#background li:nth-child(9) {
  left: 74%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 31s;
}
#background li:nth-child(10) {
  left: 8%;
  width: 196px;
  height: 196px;
  bottom: -196px;
  animation-delay: 50s;
}
#background li:nth-child(11) {
  left: 24%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 15s;
}
#background li:nth-child(12) {
  left: 88%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 15s;
}
#background li:nth-child(13) {
  left: 79%;
  width: 191px;
  height: 191px;
  bottom: -191px;
  animation-delay: 42s;
}
#background li:nth-child(14) {
  left: 9%;
  width: 200px;
  height: 200px;
  bottom: -200px;
  animation-delay: 12s;
}
#background li:nth-child(15) {
  left: 23%;
  width: 177px;
  height: 177px;
  bottom: -177px;
  animation-delay: 44s;
}
#background li:nth-child(16) {
  left: 71%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 75s;
}
#background li:nth-child(17) {
  left: 59%;
  width: 75px;
  height: 75px;
  bottom: -75px;
  animation-delay: 25s;
}
#background li:nth-child(18) {
  left: 13%;
  width: 72px;
  height: 72px;
  bottom: -72px;
  animation-delay: 13s;
}
#background li:nth-child(19) {
  left: 53%;
  width: 95px;
  height: 95px;
  bottom: -95px;
  animation-delay: 3s;
}
#background li:nth-child(20) {
  left: 76%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 81s;
}
#background li:nth-child(21) {
  left: 12%;
  width: 145px;
  height: 145px;
  bottom: -145px;
  animation-delay: 64s;
}
#background li:nth-child(22) {
  left: 85%;
  width: 73px;
  height: 73px;
  bottom: -73px;
  animation-delay: 65s;
}
#background li:nth-child(23) {
  left: 11%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 91s;
}
#background li:nth-child(24) {
  left: 52%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 37s;
}
#background li:nth-child(25) {
  left: 58%;
  width: 123px;
  height: 123px;
  bottom: -123px;
  animation-delay: 29s;
}
#background li:nth-child(26) {
  left: 44%;
  width: 55px;
  height: 55px;
  bottom: -55px;
  animation-delay: 58s;
}
#background li:nth-child(27) {
  left: 4%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 107s;
}
#background li:nth-child(28) {
  left: 4%;
  width: 169px;
  height: 169px;
  bottom: -169px;
  animation-delay: 61s;
}
#background li:nth-child(29) {
  left: 89%;
  width: 189px;
  height: 189px;
  bottom: -189px;
  animation-delay: 33s;
}
#background li:nth-child(30) {
  left: 88%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 149s;
}
#background li:nth-child(31) {
  left: 3%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 5s;
}
#background li:nth-child(32) {
  left: 54%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 152s;
}
#background li:nth-child(33) {
  left: 57%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 135s;
}
#background li:nth-child(34) {
  left: 15%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 25s;
}
#background li:nth-child(35) {
  left: 54%;
  width: 161px;
  height: 161px;
  bottom: -161px;
  animation-delay: 71s;
}
#background li:nth-child(36) {
  left: 65%;
  width: 88px;
  height: 88px;
  bottom: -88px;
  animation-delay: 64s;
}
#background li:nth-child(37) {
  left: 65%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 184s;
}
#background li:nth-child(38) {
  left: 0%;
  width: 88px;
  height: 88px;
  bottom: -88px;
  animation-delay: 55s;
}
#background li:nth-child(39) {
  left: 4%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 89s;
}
#background li:nth-child(40) {
  left: 22%;
  width: 169px;
  height: 169px;
  bottom: -169px;
  animation-delay: 184s;
}
#background li:nth-child(41) {
  left: 30%;
  width: 43px;
  height: 43px;
  bottom: -43px;
  animation-delay: 190s;
}
#background li:nth-child(42) {
  left: 39%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 210s;
}
#background li:nth-child(43) {
  left: 89%;
  width: 197px;
  height: 197px;
  bottom: -197px;
  animation-delay: 158s;
}
#background li:nth-child(44) {
  left: 4%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 57s;
}
#background li:nth-child(45) {
  left: 30%;
  width: 85px;
  height: 85px;
  bottom: -85px;
  animation-delay: 140s;
}
#background li:nth-child(46) {
  left: 67%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 111s;
}
#background li:nth-child(47) {
  left: 44%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 188s;
}
#background li:nth-child(48) {
  left: 42%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 56s;
}
#background li:nth-child(49) {
  left: 74%;
  width: 94px;
  height: 94px;
  bottom: -94px;
  animation-delay: 38s;
}

@media screen and (max-width: 900px) {
  .optionsContainer {
    grid-template-columns: repeat(1, auto);
    padding: 20px;
  }
  .optionsContainer {
    grid-template-columns: repeat(1, auto);
    padding: 20px;
  }

  .building-selection h1 {
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .pageTemplate h1{
    font-size: 170%;
    bottom: 60px;
    text-align: center;
    color: #f4f4f4;
    position: relative;
    text-shadow: 1px 1px #161515;
  }
  .tableData h1 {
    text-align: center;
    margin: 5%;
    color: #fff;
    text-shadow: 1px 2px #161515;
  }
  .ok{
    position: relative;
    margin: 30px;
    font-size: 20px;
    right: 30%;
  }
 
  .input-building th {
    padding: 1px;
    position: relative;
    top: 10px;
    right: 4px;
  }
  
  .input-building h4 {
    text-align: center;
  }
  .summary h4 {
    text-align: center;
  }
  
  .summary textarea {
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .addNewMeeting{
    padding: 1%;
    padding-top: 30%;
  }
  .Scholarship .input-group{
    width: 140%;
    direction: rtl;
    right: 50%;
  }
}