* {
  box-sizing: border-box;
  margin: 0;
  direction: rtl;
}



.Home {
  display: flex;
}



.Home .div1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('photos/photo1.png');
  background-position: center;
}

.Home .div2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(65, 82, 179);
  color: white;
  display: flex;
  font-size: 20px;
  line-height: 35px;
}

.Home .div2 .container {
  display: block;
  margin: auto auto auto auto;

}

.Heading h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.LogInButton {
  width: 100px;
  height: 100px;
}

.AccountBalance {
  width: 70%;
  height: 50px;
  background-color: white;
}

.AccountBalance h1 {
  color: black;
}

.Input input {
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 15px;
}

.LogInButton button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f4f4f4;
}

.LogInButton button:active {
  transform: scale(0.94);
}

.LogInButton button:hover {
  background-color: #b6a8a8;
}

.ManagerHomePage {
  color: black;
  border: 1px solid black;
  background-color: white;
  padding: 70px;
  margin: auto;

}

.Button button {
  width: 200px;
  padding: 10px 0 10px 0;
  margin: 5px;
  cursor: pointer;

}

.Button button:active {
  transform: scale(0.94);
}

.Button button:hover {
  background-color: #b6a8a8;
}

.ChoseBuilding .container1 {
  display: flex;
  flex-direction: row;
}

.ChoseBuilding .leftSlide, .rightSlide {
  margin-top: 19%;

}

.ChoseBuilding .table {
  margin-left: 20px;
  margin-right: 20px;
}

.ChoseBuilding h1 {
  margin-left: 20px;
  margin-right: 20px;
}